<nav class="navbar  navbar-light bg-warning text-white  font-weight-bold text-center">
       <p class="h4 ">Form Binding</p>
</nav>

<div class="row">
    <div class="col-md-4 m-auto">
        <div class="card mt-5">
            <div class="card-header bg-info text-center text-white">
                 <p class="h4"> Phone Book</p>
            </div>
            <div class="card-body">
                    <form (submit)="registerContact()">
                        <div class="form-group">
                            <input type="text" 
                            name="name"
                            [(ngModel)]="contact.name"
                            class="form-control" placeholder="Contact Name"/>
                        </div>
                        <div class="form-group">
                            <input type="email" 
                            name="email"
                            [(ngModel)]="contact.email"
                             class="form-control" placeholder="Contact Email"/>
                        </div>
                        <div class="form-group">
                            <input type="text" 
                             name="mobile"
                             [(ngModel)]="contact.mobile"
                            class="form-control" placeholder="Contact Number"/>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4 m-auto">
        <div class="card mt-3">
            <div class="card-body bg-light">
                <p class="h4">Name : {{contact.name}}</p>
                <p class="h4">Email : {{contact.email}}</p>
                <p class="h4">Mobile : {{contact.mobile}}</p>
            </div>
        </div>
    </div>
</div>